<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </script><meta charset='UTF-8'>
	<meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/Lewitje/pen/BNNJjo?depth=everything&order=popularity&page=14&q=box&show_forks=false" />
    <link rel="stylesheet" type="text/css" href="/css/gameRoom.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word War</title>
    <style class="cp-pen-styles"></style>
  </head>
  <body>
      <div class="wrapper">
          <h1 class="title" id="title">Word War</h1>
          <div class="container">



			<form >
				<input type="text" name="room" id="room" placeholder="房間ID">
			</form>
			<span class="custom-dropdown big">
				<select class="mode">
					<option value="null" disabled selected>Select your mode</option>    
					<option value="Score">Score mode</option>
					<option value="Buzz">Rush/Buzz mode</option>
				</select>
			</span>
			<button type="button" class="joinroom" id="joinroom" onclick="room()">加入房間 / 開啟房間</button>

	    </div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
<script src="../js/gameRoom.js"></script>
</html>













<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<script src = "/socket.io/socket.io.js"></script>
		
        <title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> 房間清單</h1>
			</header>
			<main class="join-main">
					<div class="form-control">
                        <p>這裡看可不可以擺出目前的房間</p>
					</div>
					<div class="form-control">
                        <label for="room">Room 填寫已知編號 或者有別人開房間 點擊之後幫他填寫房間ID並且進入房間</label>
                        <input type="text" name="room" id="room" placeholder="房間ID">
					</div>
					<br><br>
				<button type="button" class="btn" id="joinroom" onclick="room()">加入房間</button>
			</main>
		</div>
    </body>

    <script src="../js/gameRoom.js"></script>
</html> -->