<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </script><meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <script src = "/socket.io/socket.io.js"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/Lewitje/pen/BNNJjo?depth=everything&order=popularity&page=14&q=box&show_forks=false" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/gameStandby.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word War</title>
    <style class="cp-pen-styles"></style>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="title" id="title">Word War</h1>
      <div class="container-fluid ">
        <div class="row justify-content-center h-100">
          <div class="chat">
            <div class="contacts_card">
            <div class="card-header">User
              <div class="input-group-prepend">
              </div>
            </div>
            <div class="user">
              
            </div>
          </div>
   


      <!-- 這裡開始 -->
      <div class="chat">
        <div class="card">
          <div class="card-header msg_head" id="topBox">
            <div class="d-flex bd-highlight">
            </div>
          <div class="card-body msg_card_body" id="father">
            <!-- 這裡是放聊天內容 -->     
          </div>
        </div>
        <div class="card-footer">
        <div class="input-group">
          <textarea id="input" class="form-control type_msg" placeholder="Type your message" onfocus="this.placeholder=''"></textarea>
          <div class="input-group-append">
            <span class="input-group-text send_btn" id="btn"><i class="fas fa-location-arrow"></i></span>
          </div>
        </div>
      </div>
      </div>
      </div>

      <!-- ==== -->
    </div>
  </div>
  </div>
<!-- === -->
      <div class="box">
        <button id="back" class="back" onclick="back()">Room page</button>  
        <button id="ready" class="ready" onclick="ready()">Ready</button>
      </div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
    <li></li>
    


  </ul>
</div>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="../js/gameStandby.js"></script>
</body>
</html>
