<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </script><meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/Lewitje/pen/BNNJjo?depth=everything&order=popularity&page=14&q=box&show_forks=false" />
    <link rel="stylesheet" type="text/css" href="/css/gameSingle.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word War</title>
    <style class="cp-pen-styles"></style>
  </head>
  <body>
    <div class="wrapper">
        <h1 class="title" id="title">Word War</h1>
        <div class="container">
            <div class="box1">
              <div id="score" class="score">Score</div>
              <div class="timer"> Timer
                  <div id="clockdiv">30</div>
              </div>
            </div>

          <div id="topicEnglisg" class="topicEnglish"></div>

          <div id="option" class="option"></div>

 
          <button type="button" class="Ready" id="Ready" onclick="Ready()">Ready</button>

      </div>




	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/gameSingle.js"></script>
</html>











    <!-- <div class="wrapper">
        <h1 class="title" id="title">Buzz mode</h1>
          <div class="container">
            <div class="box1">
              <div id="score" class="score">Your Score</div>
              <div class="timer"> Timer
                <div id="clockdiv">10</div>
              </div>
              <div id="otherScore" class="otherScore">Opponent</div>
            </div>

            <div id="topicEnglisg" class="topicEnglish"></div>
            <div id="option" class="option"></div>
            <div class="topicPosition"></div>
            <div class="topicNumber"></div>
	    </div>
        <button type="button" class="Ready" id="Ready" onclick="Ready()">Ready</button> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="score" class="score">自己分數</div>
    <div id="topicEnglisg" class="topicEnglish">題目:</div>
    <div id="option" class="option">選項:</div>
    <span id="clockdiv" class="clockdiv"></span> 
    <button class="Ready" id="Ready" onclick="Ready()">Ready</button>
</body>
<script src="../js/gameSingle.js"></script>
</html> -->