<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<script src = "/socket.io/socket.io.js"></script>
		
        <title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> 房間清單</h1>
			</header>
			<main class="join-main">
					<div class="form-control">
                        <p>這裡看可不可以擺出目前的房間</p>
					</div>
					<div class="form-control">
                        <label for="room">Room 填寫已知編號 或者有別人開房間 點擊之後幫他填寫房間ID並且進入房間</label>
                        <input type="text" name="room" id="room" placeholder="房間ID">
					</div>
					<br><br>
				<button type="button" class="btn" id="joinroom" onclick="room()">加入房間</button>
				<button onclick="location.href='game/multe'">開設房間</button>
			</main>
		</div>
    </body>

    <script src="../js/gameRoom.js"></script>
</html>