<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/game_miulte.css">
  <script src = "/socket.io/socket.io.js"></script>
  <!-- 下面這個src是載入qs 使的可以解析網址 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" 
  integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" 
  crossorigin="anonymous"></script>
  <title>ChatCord App</title>
</head>

<body>
  <div class="outerContainer">
  <div class="user1-container">
    <header class="user1-header">
      <h1><i class="fas fa-smile"></i> Player1</h1>
      <a href="http://127.0.0.1:3000/" class="btn1">Leave Room</a>
    </header> 
    <main class="user1-main">
      <div class="user1-sidebar">
      </div>
      <div class="user1-messages">
    </main>
    <div class="user1-form-container">
      <form id="user1-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn1"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>

  <div> 我是時間跟題目</div>

  <div class="user2-container">
    <header class="user2-header">
      <h1><i class="fas fa-smile"></i> Player2</h1>
      <a href="http://127.0.0.1:3000/" class="btn2">Leave Room</a>
    </header> 
    <main class="user2-main">
      <div class="user2-sidebar">
      </div>
      <div class="user2-messages">
    </main>
    <div class="user2-form-container">
      <form id="user2-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn2"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
</div>
  <!-- <br><br><br><br>
  <div class="userTalk" ></div>
  <form action="" class="userFight">
    <input type="text" id="msg" placeholder="Enter message" autocomplete="off">
    <button class="btn">send</button>
  </form>
  <br><br><br><br><br><br> -->



<!-- 

<br><br><br><br><br><br><br><br><br><br><br><br>
    <p>多人模式目前先做兩人就好</p>
    <p>模式應該是中間有個時間</p>
    <p>兩邊有輸入框 兩邊搶答 需時間內達出來</p>
    <p>輸入錯誤或者是時間內沒答出來都算錯 false</p>
    <p>答對則是true</p>
    <p>有人答對或者時間到 都要同時進入下一題</p>
    <p>回傳回後端資料應該像是{data:{user:1234,orther:2222,game:{apple:true,banana:false}}}</p>
    <p>需同時記錄下主要玩家跟其他玩家 所以一個遊戲結束 應該會回傳兩個資料 一個是user:1234 orther2222</p>
    <p>另外一個則會是user:2222 orther:1234</p> -->


    <script src="../js/game_multe.js"></script>
  </body>
</html>