<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </script><meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="/image/icon.ico">
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/Lewitje/pen/BNNJjo?depth=everything&order=popularity&page=14&q=box&show_forks=false" />
    <link rel="stylesheet" type="text/css" href="/css/signin.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <style class="cp-pen-styles"></style>
  </head>
  <body>
<div class="wrapper">
	<div class="container">
		<div class="title" id="title">Sign in</div>
		
		<form name="form" id="form" method="POST">
      <input type="email" name="email" id="signinEmail" placeholder="Please enter email">
      <input type="password" name="password" id="signinPw" placeholder="Please enter password">
			<button type="submit" id="login-button" class="login-button">Login</button>
    </form>
    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
    <div>
      <button type="button" class="home" id="home" >Back</button>
      <button type="button" class="sign-up" id="sign-up">Sign up</button>
    </div>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
  </ul>
  
</div>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=1047523419047255&autoLogAppEvents=1" nonce="vdT22BMN"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="../js/signin.js"> </script>

</body>


</html>

